body {
    background-color: #000;
    font-size: 1.3em;
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

.container {
    max-width: 700px;
    margin: 30px auto
}

a {
    color: #f50
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
